* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-image: url(/img/school.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#footer {
    min-height: 2em;
    background-color: transparent;
    color: whitesmoke;
    text-align: center;
    font-weight: bolder;
    background: linear-gradient(to right, transparent -5%, #314e52, #314e52, #314e52 14%, transparent 65%, #314e52, #314e52);
}

#mainNav nav div .navbar-nav .nav-reg {
    color: #8E9DCC;
}

img::-moz-selection {
    background: transparent;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

#mainNav {
    width: auto;
    height: auto;
    /* background: linear-gradient(to right, transparent -5%, rgb(110, 110, 110), rgb(110, 110, 110), rgb(59, 59, 59) 14%, transparent 65%, rgb(110, 110, 110), rgb(110, 110, 110)); */
    background-color: #293033;
}

#mainNav .navbar-brand {
    color: whitesmoke;
    font-family: 'Work Sans', sans-serif;
}

#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
    color: #fed136;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 75%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: whitesmoke;
    font-family: 'Work Sans', sans-serif;
}

.navbar.transparent.navbar-inverse .navbar-inner {
    background: rgba(0, 0, 0, 0.4);
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fed136;
}

@media (min-width: 992px) {
    #mainNav {
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: #293033;
    }
    #mainNav .navbar-brand {
        font-size: 2em;
        transition: all 0.3s;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em !important;
        font-size: 90%;
    }
}

.abc {
    border: #262935 2px solid;
    border-radius: 25px;
    font-size: 18px;
    padding: 15px;
}

.submit {
    padding-top: 150px;
}

#Help {
    color: whitesmoke;
}

#create {
    color: #0883FF;
}

.sign-link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    align-items: right;
    padding: 0.1em 1em !important;
    font-family: 'Montserrat', sans-serif;
}

.sign-link:hover {
    color: #fed136;
}

.headline-1 {
    color: #262935;
    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}

.text-content {
    background-color: #6CCCCE;
    padding: 10px;
    border-radius: 25px;
}

.form-group {
    font-weight: bold;
    width: 500px;
    height: 420px;
    color: #000;
    top: 100%;
    left: 50%;
    /* padding: 60px 30px; */
    position: absolute;
    transform: translate(-50%, 20%);
    box-sizing: border-box;
    box-shadow: 8px 8px 50px #000;
}

.form-group h1 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 28px;
    color: #000;
    text-align: center;
    margin-bottom: 8%;
    transform: translate(0%, 100%);
    font-family: 'Josefin Sans', sans-serif;
}

.form-group input {
    width: 75%;
    margin-bottom: 20px;
    transform: translate(15%, 20%);
}


/* login */

.form-group label {
    width: 75%;
    margin-bottom: 10px;
    transform: translate(15%, 20%);
    color: #F1F2EB;
    font-family: 'Questrial', sans-serif;
    font-weight: normal;
    font-size: 20px;
}


/* register */

.form-group .label-reg {
    padding-top: 2.5em;
    width: 75%;
    margin-bottom: 20px;
    transform: translate(15%, 20%);
    font-family: 'Questrial', sans-serif;
    font-weight: normal;
}

.form-group small {
    width: 75%;
    font-weight: bold;
    margin-bottom: 20px;
    transform: translate(15%, 20%);
    color: red;
    font-family: 'Josefin Sans', sans-serif;
}

.form-group button {
    width: 75%;
    margin-bottom: 20px;
    transform: translate(15%, 5%);
}

.login-picture {
    margin: 0;
    padding: 0;
    border-radius: 0.5em;
    background: linear-gradient(#474747 -30%, transparent 75%, #80CED7);
}

.card-main {
    padding: .5rem 1rem;
}

.middle {
    font-family: 'Inter', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#card-title {
    text-align: center;
    margin: 1rem;
}

#card-title h2 {
    font-family: 'Inter Bold', sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 2.3rem;
}

.card {
    cursor: pointer;
    width: 340px;
    height: 430px;
    background: transparent;
    border: 0px;
    border-radius: 0rem;
    padding-left: 3rem;
}

.front,
.back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .4s linear;
}

.front img {
    height: 100%;
}

.front {
    background: linear-gradient(270deg, transparent -20%, white 85%, black calc(75% + 1px), black 100%);
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 8px 8px 50px #000;
    transform: perspective(600px) rotateY(0deg);
}

.front-content h2 {
    font-size: 3rem;
    letter-spacing: 10px;
    font-family: 'Questrial', sans-serif;
}

.back {
    background: #293033;
    border: 1px solid #f2a154;
    border-radius: 10px;
    box-shadow: 8px 8px 50px #000;
    transform: perspective(600px) rotateY(180deg);
}

.back-content {
    color: #f2a154;
    text-align: center;
    padding: .5rem;
    width: 100%;
}

.back-content a {
    width: 100px;
    height: 40px;
    text-align: center;
    font-family: 'Questrial', sans-serif;
    font-size: 1.125rem;
}

.card:hover>.front {
    transform: perspective(600px) rotateY(-180deg);
}

.card:hover>.back {
    transform: perspective(600px) rotateY(0deg);
}